@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

#root {
  max-width: 1690px;
  margin: 0 auto;
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-style: normal;
}